[submodule "works/game-brain-training-janken"]
	path = works/game-brain-training-janken
	url = https://github.com/bulauza/brain-training-janken
[submodule "works/wp-corporate"]
	path = works/wp-corporate
	url = https://github.com/bulauza/wp-corporate.git
[submodule "works/wp-beauty-salon"]
	path = works/wp-beauty-salon
	url = https://github.com/bulauza/wp-beauty-salon.git
